<div class="item-description-outer-container">
    <div class="item-description-container">
        <h4>{{localize label}}</h4>
        {{#each features as | feature |}}
            <div class="item-description-inner-container"><strong>{{localize feature.label}}</strong>: {{{localize feature.description}}}</div>
        {{/each}}
    </div>
</div>