<div class="daggerheart chat refresh-message">
    <header>
        <div class="subtitle">{{localize "DAGGERHEART.UI.Chat.refreshMessage.header"}}</div>
        <div class="types">{{types}}</div>
    </header>
</div>