.daggerheart.dialog.dh-style.views.group-roll-dialog {
    .main-character-outer-container {
        &.inactive {
            opacity: 0.3;
            pointer-events: none;
        }

        .main-character-container {
            .character-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 64px;

                img {
                    height: 64px;
                    border-radius: 6px;
                    border: 1px solid light-dark(@dark-blue, @golden);
                }

                .character-data {
                    padding-left: 0.75rem;
                    flex: 1;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    text-align: left;
                    font-size: var(--font-size-18);
                }
            }
        }
    }
}
