.theme-light .application.sheet.scene-config {
    .sheet-tabs.tabs a[data-tab='dh'] {
        &.active img,
        &:hover img {
            filter: @grey-filter drop-shadow(0 0 4px var(--color-shadow-primary));
        }

        img {
            filter: @grey-filter;
        }
    }
}

.application.sheet.scene-config {
    .sheet-tabs.tabs {
        a[data-tab='dh'] {
            display: flex;
            align-items: center;
            gap: 4px;

            &.active,
            &:hover {
                img {
                    filter: @beige-filter drop-shadow(0 0 4px var(--color-shadow-primary));
                }
            }

            img {
                width: 18px;
                position: relative;
                top: -3px;
                filter: @beige-filter;
            }
        }
    }

    .helper-text {
        font-style: italic;
    }

    .scene-environments {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .scene-environment {
            display: flex;
            align-items: center;
            gap: 8px;

            .scene-environment-inner {
                display: flex;
                align-items: center;
                gap: 16px;
                flex: 1;

                img {
                    height: 36px;
                }

                h5 {
                    margin: 0;
                }

                .tags {
                    display: flex;
                    gap: 4px;
                    padding-bottom: 0;

                    .tag {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 3px 5px;
                        font-size: var(--font-size-12);
                        font: @font-body;

                        background: light-dark(@dark-15, @beige-15);
                        border: 1px solid light-dark(@dark, @beige);
                        border-radius: 3px;
                    }

                    .label {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        font-size: var(--font-size-12);
                    }
                }
            }

            .remove-icon {
                font-size: 16px;
            }
        }
    }
}
