@import '../../utils/colors.less';

.daggerheart.dialog.dh-style.views.damage-selection {
    .damage-section-container {
        display: flex;
        flex-direction: column;
        gap: 12px;

        input[type='text'],
        input[type='number'] {
            color: light-dark(@dark, @beige);
            outline: 2px solid transparent;
            transition: all 0.3s ease;

            &:hover {
                outline: 2px solid light-dark(@dark, @beige);
            }
        }

        .bonuses {
            gap: 4px;
            .critical-chip {
                flex: 0;

                display: flex;
                align-items: center;
                border-radius: 5px;
                width: fit-content;
                gap: 5px;
                cursor: pointer;
                padding: 5px;
                transition: all 0.3s ease;

                background: @green-10;
                color: @green;

                &.selected {
                    color: @beige;
                    background: @gradient-green;
                }
            }
        }

        .group-attack-container {
            margin: 0;

            .group-attack-inner-container {
                display: flex;
                align-items: center;
                gap: 16px;

                > * {
                    flex: 1;
                }

                .group-attack-tools {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }
            }
        }

        .damage-section-controls {
            display: flex;
            align-items: center;
            gap: 16px;

            .roll-mode-select {
                width: min-content;
            }

            button {
                flex: 1;
            }
        }
    }
}
