.application.sheet.daggerheart.dh-style.active-effect-config {
    .custom-duration-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        height: 0;
        transition: height ease-in-out 0.3s;

        &.visible {
            height: auto;
        }
    }

    .duration-description {
        height: 0;
        overflow: hidden;
        transition: height ease-in-out 0.3s;

        &.visible {
            height: 100px;
        }
    }

    .tab.changes {
        gap: 0;

        header {
            div {
                text-align: center;
            }
        }

        .armor-change-container {
            .damage-thresholds-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 4px;

                .damage-threshold-title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;

                    &::before,
                    &::after {
                        content: '';
                        flex: 1;
                        height: 2px;
                    }

                    &::before {
                        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, light-dark(@dark-blue, @golden) 100%);
                    }

                    &::after {
                        background: linear-gradient(90deg, light-dark(@dark-blue, @golden) 0%, rgba(0, 0, 0, 0) 100%);
                    }

                    span {
                        font-size: var(--font-size-18);
                    }
                }

                .form-group {
                    flex-direction: column;
                    gap: 0;

                    label {
                        color: inherit;
                        line-height: 16px;
                    }
                }
            }
        }

        .typed-change-container {
            display: flex;
            flex-direction: column;

            .two-columns {
                width: 100%;
            }

            .form-group {
                display: block;
            }

            label {
                line-height: normal;
                color: inherit;
            }

            file-picker {
                input {
                    &:hover {
                        outline: none;
                        background: inherit;
                    }
                }
            }
        }
    }
}
