.application.sheet.daggerheart.dh-style.beastform {
    --portrait-size: 130px;

    .settings.tab {
        .advantage-on-section {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
        }
        .hint {
            font-style: italic;
        }
    }
    .tab.features.active {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 8px calc(12px - var(--scrollbar-width)) 4px 12px;
        .stable-scroll-container();
    }
}
