@import '../../utils/colors.less';
@import '../../utils/fonts.less';

.application.sheet.daggerheart.dh-style.feature {
    --portrait-size: 130px;

    section.tab {
        overflow-y: auto;
    }

    .actor-resource-container {
        display: flex;
        align-items: center;
        gap: 8px;

        .inputs-container {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 8px;
        }

        span {
            font-size: var(--font-size-16);
        }

        span, a {
            padding-top: 18px;
        }
    }
}
