.item.daggerheart.dh-style:where(.application.sheet) {
    &.minimized {
        .attribution-header-label {
            display: none;
        }
    }

    .attribution-header-label {
        font-style: italic;
        font-family: @font-body;
        color: light-dark(@chat-blue-bg, @beige-50);
    }

    button.plain.inline-control {
        flex: 0 0 auto;
    }

    .tab-navigation {
        margin-bottom: 0;
    }

    /** Default tab stylings */
    .tab.active {
        padding-top: 8px;
        .with-scroll-shadows();

        &.effects {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 8px calc(12px - var(--scrollbar-width)) 4px 12px;
            .stable-scroll-container();
        }
    }
}
