<div>
    <header class="countdowns-header">
        <i class="fa-solid fa-clock-rotate-left" inert></i>
        {{#unless iconOnly}}
            <span class="window-title">{{localize "DAGGERHEART.UI.Countdowns.title"}}</span>
        {{/unless}}
        <div class="header-type-toggles">
            {{#each typeToggles as |type|}}
                <a class="header-type {{#unless type.active}}inactive{{/unless}}" data-action="toggleCountdownTypes" data-type="{{type.type}}">{{localize type.label}}</a>
            {{/each}}
        </div>
        {{#if isGM}}
            <a class="header-control" data-tooltip aria-label="DAGGERHEART.APPLICATIONS.CountdownEdit.editTitle" data-action="editCountdowns">
                <i class="fa-solid fa-wrench" inert></i>
            </a>
        {{/if}}
        <a class="header-control" data-tooltip aria-label="DAGGERHEART.UI.Countdowns.toggleIconMode" data-action="toggleViewMode">
            <i class="fa-solid fa-down-left-and-up-right-to-center" inert></i>
        </a>
    </header>
    <div class="countdowns-container">
        {{> "systems/daggerheart/templates/ui/countdowns/parts/countdowns.hbs" }}
    </div>
</div>