<div class="roll-part dice-roll description-section" data-action="expandRoll">
    <div class="roll-part-header"><div><span>{{localize "DAGGERHEART.GENERAL.description"}}</span></div></div>

    <div class="roll-part-content description-content">
        <div class="dice-tooltip">
            <div class="wrapper">
                <i>{{{actionDescription}}}</i>
            </div>
        </div>
    </div>
</div>