.embed.actor {
    --side-padding: 0.625rem;
    background: var(--dh-embed-bg);
    color: var(--dh-embed-color-text);
    border: 2px solid var(--dh-embed-color-border);
    border-radius: 12px;
    padding: var(--spacer-8) 0;
    line-height: 1.2;

    header.main {    
        padding: 0 var(--side-padding);
    }

    .actor-name {
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 1.47;
    }

    .tier {
        font-size: 1.125em;
        font-style: italic;
        font-weight: 600;
        line-height: 1.25;
    }

    .description {
        font-style: italic;
        p {
            margin: 0;
        }
    }

    .stats {
        background-color: var(--dh-embed-stats-bg);
        border-top: 1px solid var(--dh-embed-color-border);
        border-bottom: 1px solid var(--dh-embed-color-border);
        padding-top: 0.375rem;
        padding-bottom: 0.25rem;
        margin: 0.25rem var(--side-padding);
    }

    .row {
        display: flex;
        align-items: baseline;
        padding-inline:  0.5rem;
    }

    .divider {
        display: inline-block;
        background-color: var(--dh-embed-color-text);
        width: 1px;
        align-self: stretch;
        margin: 0 var(--spacer-4);
        margin-top: 0.12em;
        height: 1em;
    }

    .experience-row {
        border-top: 1px dashed var(--dh-embed-color-border);
        padding-top: 0.25rem;
        margin-top: 0.25rem;
    }

    // Secrets are often used by environments for flavor text
    section.secret {
        // once compat improves, swap to display: contents
        --color-secret-bg: none;
        --color-revealed-bg: none;
        --color-secret-border: none;
        padding: unset;
        border-width: unset;
        font-style: italic;
        button.reveal { 
            display: none;
        }
    }

    .features {
        margin-top: 0.375rem;
        > * {
            padding-inline: var(--side-padding);
        }
        > header {
            font-size: 1.25em;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.25;
            margin-bottom: 0.125rem;
        }
    }
    
    .feature {
        .typography();
        --paragraph-spacing: 0.25em;

        padding-left: 1ch;     
        margin-bottom: 0.25em;

        &.grouped {
            border-top: 1px dashed var(--dh-embed-color-border);
            padding-top: 0.5em;
        }

        .child-features {
            margin-top: var(--paragraph-spacing);
        }

        > strong.name {
            font-style: italic;
            margin-left: -1ch;
        }
        > p:first-of-type {
            display: inline;
        }
    }
}