.drag-area {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px dashed light-dark(@dark-blue-50, @beige-50);
    border-radius: 3px;
    color: light-dark(@dark-blue-50, @beige-50);
    font-family: @font-body;
}

.dh-style {
    --font-body: @font-body;
    font-family: @font-body;

    h1 {
        --dh-input-color-text: @color-text-emphatic;
        font-family: @font-title;
        margin: 0;
        border: none;
        font-weight: normal;
    }

    h2,
    h3 {
        font-family: @font-subtitle;
        margin: 0;
        border: none;
        font-weight: normal;
    }

    h4 {
        font-family: var(--font-body);
        font-size: var(--font-size-14);
        border: none;
        font-weight: 700;
        margin: 0;
        text-shadow: none;
        font-weight: normal;
    }

    h5 {
        font-family: var(--font-body);
        font-size: var(--font-size-14);
        margin: 0;
        font-weight: normal;
    }

    // todo: determine if we can remove these or replace with font-family: inherit
    multi-select .tags .tag,
    table,
    .tagify__dropdown {
        font-family: var(--font-body);
    }

    textarea {
        font-family: inherit;
    }

    button span {
        font-weight: bold;
    }

    small {
        font-family: var(--font-body);
        opacity: 0.8;
    }

    nav a {
        font-family: var(--font-body);
    }
}

.daggerheart.dh-style {
    /** Not an actual scrollbar width (it can't be configured on all browsers) but actually a compensation value for scrollbar gutter purposes */
    --scrollbar-width: 10px;

    * {
        scrollbar-width: thin;
        scrollbar-color: light-dark(@dark-blue, @golden) transparent;
    }

    .hint {
        flex: 0 0 100%;
        margin: 0;
        color: var(--color-form-hint);
    }

    .form-group:hover {
        .hint {
            color: var(--color-form-hint-hover);
        }
    }

    .daggerheart-loader {
        position: relative;
        overflow: hidden !important;

        div {
            opacity: 0.5;
        }

        &:before {
            font-family: var(--font-awesome);
            content: '\f110';
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: spinner 1.5s linear infinite;
        }
    }

    @keyframes spinner {
        to {
            transform: rotate(360deg);
        }
    }

    .item-description-outer-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .item-description-container {
            h4 {
                margin-bottom: 4px;
            }

            .item-links {
                display: flex;
                flex-wrap: wrap;
                gap: 4px;
            }
        }
    }

    .item-tags {
        display: flex;
        gap: 10px;

        .tag {
            align-items: center;
            background: light-dark(@dark-15, @beige-15);
            border-radius: 3px;
            border: 1px solid light-dark(@dark, @beige);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: var(--font-size-12);
            justify-content: start;
            padding: 3px 5px;
        }
    }

    [data-action] {
        cursor: pointer;
    }

    .warning-icon {
        color: @color-level-warning;
        animation: warning-glow 0.75s infinite alternate;
    }
}

/* TODO: Remove me when this issue is resolved https://github.com/foundryvtt/foundryvtt/issues/13734 */
body.theme-dark,
.themed.theme-dark {
    color-scheme: dark;
}

body.theme-light,
.themed.theme-light {
    color-scheme: light;
}

body:not([data-gm=true]) [data-visibility="gm"] {
    display: none;
}

/** Embedded cards are usually inline */
document-embed:has(.dh-card) {
    display: inline-block;
    
    // This tricks the container so that display: inline-block doen't try to line up the ability text
    .dh-card {
        float: left; 
    }
}