@import '../utils/colors.less';
@import '../utils/fonts.less';
@import '../utils/mixin.less';

.application.daggerheart {
    prose-mirror {
        --menu-padding: 4px 0px;
        --menu-height: calc(var(--menu-button-height) + 8px);
        height: 100% !important;
        width: 100%;

        .editor-menu {
            background-color: transparent;
        }
        .editor-content {
            .with-scroll-shadows();
            .typography();
        }
        // Fixes centering and makes it not render over scrollbar
        &:hover button.toggle:enabled {
            display: flex;
            right: 12px;
        }
    }
}
