@import '../utils/colors.less';
@import '../utils/fonts.less';

.daggerheart.dh-style {
    .tab.active.description {
        display: flex;
        flex-direction: column;
        height: -webkit-fill-available !important;
        overflow-y: hidden !important;
        padding-top: 10px;

        prose-mirror.active + .artist-attribution {
            display: none;
        }
    }
}
