@import '../utils/colors.less';
@import '../utils/fonts.less';

.sheet.daggerheart.dh-style.item {
    .tab.features {
        padding: 7px 10px;
        overflow-y: auto;
        .feature-list {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            .feature-item {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            .feature-line {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr 4fr 1fr;
                h4 {
                    font-weight: lighter;
                    color: light-dark(@dark, @beige);
                }
                .image {
                    height: 40px;
                    width: 40px;
                    object-fit: cover;
                    border-radius: 6px;
                    border: none;
                }
                .image-icon {
                    font-size: 26px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .controls {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    a {
                        text-shadow: none;
                    }
                }
            }
        }
    }
}
