@import '../utils/colors.less';
@import '../utils/fonts.less';

.daggerheart.dh-style {
    .tab-navigation {
        margin: 5px 0 10px 0;
        width: 100%;

        .navigation-container {
            display: flex;
            align-items: center;
            gap: 8px;

            .navigation-inner-container {
                flex: 1;

                .feature-tab {
                    border: none;
                    white-space: nowrap;

                    a {
                        color: @color-text-emphatic;

                        &.empty:not(.active) {
                            opacity: 0.4;
                        }
                    }
                }
            }
        }
    }
}
