#tooltip:has(div.daggerheart.dh-style.tooltip.effect-display),
aside[role='tooltip']:has(div.daggerheart.dh-style.tooltip.effect-display) {
    .tooltip-title {
        font-size: var(--font-size-20);
        color: @color-text-emphatic;
        font-weight: 700;
        margin: 0;
        text-align: center;
    }

    .tooltip-description {
        font-style: inherit;
        text-align: inherit;
        width: 100%;
        padding: 5px 10px;
        position: relative;
        margin-top: 5px;
    }

    .tags {
        padding-bottom: 4px;
    }
}