@import './tooltip.less';
@import './card-style.less';
@import './armorManagement.less';
@import './battlepoints.less';
@import './bordered-tooltip.less';
@import './resource-management.less';
@import './effects-display.less';
@import './beastform.less';
@import './basic.less';

/** Make tooltip container invisible for some types, leaving everything to the child */
#tooltip,
.locked-tooltip {
    &:has(.dh-card, .embed) {
        padding: 0;
        background: none;
        backdrop-filter: unset;
        box-shadow: unset;
        border: unset;
        overflow: visible;
        .dh-card {
            box-shadow: 0 0 4px #000;
            border-color: light-dark(@dark-80, @beige-80);
        }
    }

    &:has(.embed) {
        max-width: unset;
        .embed {
            width: 24rem;
            max-height: 90vh;
            overflow: auto;
            font-size: var(--font-size-13);
        }
    }
}
aside[role='tooltip'].locked-tooltip:has(.dh-card, .embed) {
    .dh-card, .embed {
        box-shadow: 0 0 25px @golden-90;
        border-color: 1px solid light-dark(@dark-blue, @golden);
    }
}