@import '../../utils/colors.less';
@import '../../utils/fonts.less';

// General tooltip element styles. These mostly override foundry stuff or introduce new elements
// These should be Common elements that are not highly opiniated on styling. Refine in future updates.
.dh-style.tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border-width: 0;
    text-align: start;

    .tags {
        display: flex;
        gap: 4px;
        flex-wrap: wrap;
        justify-content: center;

        .tag {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 3px 5px;
            font: @font-body;
            font-size: var(--font-size-12);

            background: light-dark(@dark-15, @beige-15);
            border: 1px solid light-dark(@dark, @beige);
            border-radius: 3px;
        }

        .label {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: var(--font-size-12);
        }
    }
}

#tooltip,
.locked-tooltip,
.daggerheart.dh-style.tooltip {
    &.wide {
        max-width: 480px;

        .daggerheart.dh-style.tooltip {
            align-items: start;
        }
    }

    .daggerheart.dh-style.tooltip {
        .simple-info {
            font-style: italic;
        }

        .tooltip-information-section {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4px;

            &.spaced {
                margin-top: 8px;
            }

            &.triple {
                grid-template-columns: 1fr 1fr 1fr;
            }

            .tooltip-information {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2px;

                &.full-width {
                    grid-column: span 2;
                }

                label {
                    font-weight: bold;
                }

                label,
                div {
                    white-space: nowrap;
                }
            }
        }

        .tooltip-chips {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 8px;

            .tooltip-chip {
                font-size: var(--font-size-18);
                padding: 2px 4px;
                border: 1px solid @color-border;
                border-radius: 6px;
                color: light-dark(@dark, @beige);
                background-image: url(../assets/parchments/dh-parchment-dark.png);
            }
        }

        .spaced {
            margin-bottom: 4px;
        }
    }

    .party-list {
        display: flex;
        flex-direction: column;
        button {
            width: 100%;
            align-items: center;
            justify-content: start;
            img {
                border: none;
                width: 1rem;
                height: 1rem;
                object-fit: contain;
            }
        }
    }
}
