<div class="footer">
    <button data-action="close">{{localize "Cancel"}}</button>
    <button type="button" data-action="finishSelection">{{localize "DAGGERHEART.APPLICATIONS.ImageSelect.selectImage"}}</button>
</div>