.theme-light .daggerheart.placeable-hud {
    .status-effects {
        .effect-control {
            filter: none;
            background: var(--dark-blue-90);
        }

        .effect-control-container {
            .effect-control {
                filter: none;
                background: var(--dark-blue-90);
            }

            .effect-control-disabled-marker {
                color: @red;
            }
        }
    }
}

.daggerheart.placeable-hud {
    .col.right {
        .palette {
            .palette-category-title {
                grid-column: span var(--effect-columns);
                font-weight: bold;
                color: light-dark(@dark-blue, @golden);
            }
        }
    }

    .clown-car img {
        transition: 0.5s;

        &.flipped {
            transform: scaleX(-1);
        }
    }

    .status-effects {
        .effect-control-container {
            position: relative;

            .effect-control-disabled-marker {
                position: absolute;
                height: 100%;
                width: 100%;
                top: -1px;
                left: 1px;
                color: @medium-red;
                font-weight: 700;
                font-size: 2.1em;
                rotate: 29deg;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .effect-locked {
                position: absolute;
                bottom: 2px;
                left: 11.5px;
                font-size: 12px;
                color: @golden;
                filter: drop-shadow(0 0 3px black);
            }
        }
    }
}
