.tab.sidebar-tab.settings-sidebar.dh-sidebar-settings {
    .sidebar-settings-dh-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            margin-bottom: 0;
            width: 100%;
        }

        img {
            width: 80px;
            margin-bottom: -8px;
        }

        .links-container {
            display: flex;
            gap: 16px;
        }

        .notification-pip {
            position: initial;
            color: @color-level-warning;
        }
    }
}