.theme-light #interface #ui-right #sidebar {
    menu li button img {
        filter: @grey-filter;
    }
}

#interface #ui-right #sidebar {
    menu li button {
        img {
            width: 22px;
            max-width: unset;
            filter: @beige-filter;
        }
    }
}
