<div class="tab {{#if tabs.tagTeamRoll.active}}active{{/if}}" data-group="{{tabs.tagTeamRoll.group}}" data-tab="{{tabs.tagTeamRoll.id}}">
    <div class="team-container">
        {{#each memberKeys as |key|}}
            <div data-application-part="{{key}}"></div>
        {{/each}}
    </div>
    <div data-application-part="rollSelection"></div>
    <div data-application-part="result"></div>
</div>
