<header class='party-header-sheet'>
    <img class='profile' src='{{source.img}}' data-action='editImage' data-edit='img' />
    <div class='item-container'>
        <div class="item-info">
            <h1 class='item-name'><input type='text' name='name' value='{{source.name}}' /></h1>
            <h2 class="label">Party</h2>
        </div>
    </div>
</header>