@import '../../utils/colors.less';

.daggerheart.views.countdown-permissions {
    .ownership-outer-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .ownership-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
        }

        .ownership-container {
            display: flex;
            padding: 0 4px 0 0;
            align-items: center;
            gap: 8px;

            &.default {
                padding-bottom: 4px;
                border-bottom: 1px solid @color-border;
            }

            img {
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }

            span {
                flex: 2;
            }

            select {
                min-width: 150px;
                width: auto;
                margin: 4px 0;
            }
        }

        .hint {
            text-align: center;
        }

        footer {
            margin-top: 10px;
            button {
                height: 32px;
            }
        }
    }
}
