 <span>
    <div class="two-columns even">
        {{formGroup systemFields.resource.fields.type value=source.system.resource.type localize=true blank=false}}
        {{formGroup systemFields.resource.fields.recovery value=source.system.resource.recovery localize=true}}
    </div>

    <div class="two-columns even">
        {{formGroup systemFields.resource.fields.dieFaces value=source.system.resource.dieFaces localize=true blank=false}}
        {{formGroup systemFields.resource.fields.max value=source.system.resource.max label="DAGGERHEART.GENERAL.amount" localize=true}}
    </div>
</span>