 <span>
    <div class="two-columns even">
        {{formGroup systemFields.resource.fields.type value=source.system.resource.type localize=true blank=false}}
        {{formGroup systemFields.resource.fields.dieFaces value=source.system.resource.dieFaces localize=true blank=false}}
    </div>
</span>