.daggerheart.dh-style.setting.homebrew-settings .resources.tab {
    .resource-types-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow: auto;
        max-height: 570px;
    }
}
