<div>
    <div class="item-transfer-container">
        <input type="range" step="1" min="0" max="{{item.system.quantity}}" name="quantity" value="{{quantity}}" />
        <input type="text" value="{{quantity}}" class="number-display" />
    </div>
    <footer class="item-sheet-footer">
        <button type="button" data-action="finish">{{localize "DAGGERHEART.APPLICATIONS.ItemTransfer.transfer"}}</button>
    </footer>
</div>