@import '../../../utils/colors.less';
@import '../../../utils/fonts.less';
@import '../../../utils/mixin.less';

.application.sheet.daggerheart.actor.dh-style.party {
    .tab.inventory {
        .items-section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 8px calc(12px - var(--scrollbar-width)) 4px 12px;
            .stable-scroll-container();
        }
    }
}
