@import '../../../utils/colors.less';
@import '../../../utils/fonts.less';
@import '../../../utils/mixin.less';

.application.sheet.daggerheart.actor.dh-style.character {
    .tab.inventory {
        .items-section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow-y: auto;
            margin-top: 20px;
            padding-bottom: 20px;
            .with-scroll-shadows();
        }
    }
}
