@import '../../../utils/colors.less';
@import '../../../utils/fonts.less';
@import '../../../utils/mixin.less';

.application.sheet.daggerheart.actor.dh-style.character {
    .tab.loadout {
        .search-section {
            .btn-toggle-view {
                background: light-dark(@dark-blue-10, @dark-blue);
                border: 1px solid @color-border;
                border-radius: 15px;
                padding: 0;
                gap: 0;
                width: 62px;

                span {
                    margin: 1px;
                    width: 26px;
                    color: @color-text-emphatic;

                    &.list-icon {
                        i {
                            margin-left: 3px;
                        }
                    }
                    &.grid-icon {
                        i {
                            margin-right: 3px;
                        }
                    }

                    &.list-active {
                        border-radius: 32px 3px 3px 32px;
                        background-color: light-dark(@dark-blue, @golden);
                        color: light-dark(@beige, @dark-blue);
                        padding: 2px;
                    }

                    &.grid-active {
                        border-radius: 3px 32px 32px 3px;
                        background-color: light-dark(@dark-blue, @golden);
                        color: light-dark(@beige, @dark-blue);
                        padding: 2px;
                    }
                }
            }
        }

        .items-section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: 100%;
            overflow-y: auto;
            margin-top: 20px;
            padding-bottom: 20px;
            .with-scroll-shadows();
        }
    }
}
