@import '../../../utils/colors.less';

.application.sheet.daggerheart.actor.dh-style.companion {
    .tab.effects {
        .effects-sections {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 7px calc(12px - var(--scrollbar-width)) 4px 12px;
            .stable-scroll-container();
        }
    }
}
