@import '../../../utils/mixin.less';

// Theme header backgrounds
.appTheme({
    &.companion {
        background-image: url('../assets/parchments/dh-parchment-dark.png');
    }
}, {
    &.companion {
        background: url('../assets/parchments/dh-parchment-light.png');
    }
});

.application.sheet.daggerheart.actor.dh-style.companion {
    .window-content {
        display: flex;
    }

    .tab.active {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
}
