.application.sheet.daggerheart.actor.dh-style.npc {
    .tab.features {
        &.active {
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        .feature-section {
            padding: 16px calc(16px - var(--scrollbar-width)) 4px 16px;
            .stable-scroll-container();
        }
    }
}
