.application.sheet.daggerheart.actor.dh-style.npc {
    .window-content {
        display: grid;
        grid-template-rows: auto auto 1fr;
    }

    .npc-navigation {
        padding: 0 15px;
    }
}