.daggerheart.dh-style.dialog.active-effect-change-paths-dialog {
    .window-content {
        padding-inline: 0;
    }

    .paths-main-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow: hidden;

        > * {
            padding-inline: var(--spacer-16);
        }

        .search-label {
            font-size: var(--font-size-18);
            display: flex;
            align-items: center;
            gap: 4px;
        }

        .paths-container {
            display: flex;
            flex-direction: column;
            gap: 8px;
            overflow: auto;
            font-family: var(--font-sans);
            padding-right: max(0px, calc(var(--spacer-16) - var(--scrollbar-width)));
            scrollbar-gutter: stable;

            .group-container {
                display: flex;
                flex-direction: column;
                gap: 4px;

                .group-label {
                    font-size: var(--font-size-18);
                    font-weight: bold;
                }

                .path-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: @input-color-text;
                    overflow: hidden;

                    &:has(.key-field:hover) {
                        .name-container,
                        .key-field {
                            color: @color-text-emphatic;
                        }
                        a {
                            text-shadow: unset;
                        }
                    }

                    .name-container {
                        flex: 0 0 17rem;
                    }

                    .key-container {
                        display: flex;
                        align-items: center;
                        flex: 1 0 0;
                        overflow: hidden;

                        .key-field {
                            height: 24px;
                            border: 1px solid @input-color-border;
                            padding: 2px 4px;
                            border-radius: 6px 0 0 6px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            flex: 1;
                        }

                        .key-icon {
                            left: -1px;
                            position: relative;
                            height: 24px;
                            padding: 2px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 0 4px 4px 0;
                            border-top: 1px solid @input-color-border;
                            border-right: 1px solid @input-color-border;
                            border-bottom: 1px solid @input-color-border;
                            color: @button-color-text;
                            background-color: @button-color-bg;
                        }
                    }
                }
            }

            .hidden {
                display: none;
            }
        }
    }
}