@import '../../../utils/colors.less';
@import '../../../utils/fonts.less';
@import '../../../utils/mixin.less';

.application.sheet.daggerheart.actor.dh-style.environment {
    .tab.features {
        .feature-section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow-y: auto;
            padding-bottom: 4px;
            .with-scroll-shadows();
        }
    }
}
