@import '../../../utils/colors.less';
@import '../../../utils/fonts.less';
@import '../../../utils/mixin.less';

.application.sheet.daggerheart.actor.dh-style.environment {
    .environment-header-sheet {
        display: flex;
        flex-direction: column;
        justify-content: start;

        .profile {
            width: 4.875rem;
            height: 4.875rem;
            object-fit: cover;
            object-position: center top;
            cursor: pointer;
        }

        .actor-container {
            display: flex;
            margin-top: 42px;
            margin-bottom: 8px;

            align-items: start;
            position: relative;
            gap: 8px;
            padding: 0 20px;

            .actor-name {
                backdrop-filter: none;
                border: none;
                font-family: @font-title;
                font-size: var(--font-size-32);
                text-align: start;
                transition: all 0.3s ease;
                outline: 2px solid transparent;
                box-shadow: none;
                text-shadow: 0 0 4px @color-text-shadow-contrast, 0 0 8px @color-text-shadow-contrast, 0 0 14px @color-text-shadow-contrast;
                padding-left: 0;
                margin-bottom: 4px;

                &:hover,
                &:focus {
                    box-shadow: none;
                    outline: 2px solid @color-border;
                }
            }

            .name-section {
                padding-top: 8px;
                flex: 1;
            }

            .tags {
                display: flex;
                gap: 4px;
                padding-bottom: 0;
                flex: 0;

                .tag {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 3px 5px;
                    font-size: var(--font-size-12);
                    font: @font-body;
                    white-space: nowrap;

                    background: light-dark(@dark-15, @beige-15);
                    border: 1px solid light-dark(@dark, @beige);
                    border-radius: 3px;
                }

                .difficulty {
                    border-color: light-dark(@dark-blue, @golden);
                    gap: 4px;
                }
            }
        }

        .environment-info {
            display: flex;
            flex-direction: column;
            gap: var(--spacer-8);
            padding: 10px 20px;
        }

        .environment-navigation {
            padding: 0 20px;

            .tab-navigation {
                margin-top: 0;
            }
        }
    }
}
