@import '../../../utils/colors.less';

.application.sheet.daggerheart.actor.dh-style.environment {
    .tab.potentialAdversaries {
        .items-section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow-y: auto;
            padding-bottom: 4px;
            .with-scroll-shadows();
        }
    }
}
