.theme-light .daggerheart.dialog.dh-style.views.tag-team-dialog {
    .initialization-container .members-container .member-container {
        .member-name {
            background-image: url('../assets/parchments/dh-parchment-light.png');
        }
    }
}

.daggerheart.dialog.dh-style.views.tag-team-dialog {
    .initialization-container {
        h2 {
            text-align: center;
        }

        .members-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 8px;

            .member-container {
                position: relative;
                display: flex;
                justify-content: center;

                &.inactive {
                    opacity: 0.4;
                }

                .member-name {
                    position: absolute;
                    padding: 0 2px;
                    border: 1px solid;
                    border-radius: 6px;
                    margin-top: 4px;
                    color: light-dark(@dark, @beige);
                    background-image: url('../assets/parchments/dh-parchment-dark.png');
                    text-align: center;
                }

                img {
                    border-radius: 6px;
                    border: 1px solid light-dark(@dark-blue, @golden);
                }
            }
        }

        .initiator-container {
            margin-top: 8px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;

            &.inactive {
                opacity: 0.4;
            }
        }

        footer {
            margin-top: 8px;
            display: flex;
            gap: 8px;

            button {
                flex: 1;
            }

            .finish-tools {
                flex: none;
                display: flex;
                align-items: center;
                gap: 4px;

                &.inactive {
                    opacity: 0.4;
                }
            }
        }
    }
}
