<div class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="form-group">
        <div class="form-fields">
            <label>{{localize 'DAGGERHEART.SETTINGS.Scene.rangeMeasurementOverride'}}</label>
            <input type="checkbox" name="flags.daggerheart.rangeMeasurementOverride" {{checked
                document.flags.daggerheart.rangeMeasurementOverride}} />
        </div>
    </div>
</div>