<section class="tab {{#if tabs.groupRoll.active}} active{{/if}}" data-group="{{tabs.groupRoll.group}}" data-tab="{{tabs.groupRoll.id}}">
    <div class="finish-container">
        <button type="button" data-action="cancelRoll">{{localize "COMMON.Cancel"}}</button>
        <button type="button" data-action="finishRoll" {{#unless canFinishRoll}}disabled{{/unless}} class="finish-button">
            <i class="fa-solid fa-dice" inert></i>
            {{localize "DAGGERHEART.APPLICATIONS.GroupRollSelect.finishGroupRoll"}}
        </button>
    </div>
</section>