<div>
    <div class="displayed-icon">
        <i class="{{currentIcon}}" inert></i>
    </div>
    <span>{{localize "DAGGERHEART.SETTINGS.Homebrew.currency.iconName"}} (<em>{{localize "DAGGERHEART.SETTINGS.Homebrew.currency.iconNameHint"}}</em>)</span>
    <div class="input-row">
        <input type="text" name="icon" value="{{currentIcon}}" />
        <button type="button" data-action="reset" class="plain icon fa-solid fa-redo"></button>
    </div>
</div>
